extends master

block content
    +form({fromCommit, toCommit}, '/gitlog', {
        fromCommit: 'From commit',
        toCommit: 'To commit',
        submit: 'Report'
    })
    if (report)
        div(class='gitlogReport')
            p
                b Report:

            if (report.issues.length === 0 && report.pullRequestInfosWithoutIssues.length === 0 && report.nonPullRequestInfos.length === 0)
                p Nothing found

            if (report.issues.length > 0)
                a(target='_blank', href=`${config.jiraUrl}/issues/?jql=ID%20in%20%28${report.issues.join('%2C')}%29`) #{report.issues.length} issue(s) in JIRA

            if (report.pullRequestInfosWithoutIssues.length > 0)
                p #{report.pullRequestInfosWithoutIssues.length} PR(s) without issues:
                each p in report.pullRequestInfosWithoutIssues
                    div(class='ellipsis')
                        a(target='_blank', href=`https://github.com/${config.githubRepo}/pull/${p.id}`) ##{p.id} - #{p.title}

            if (report.nonPullRequestInfos.length > 0)
                p #{report.nonPullRequestInfos.length} non-PR(s):
                each p in report.nonPullRequestInfos
                    div(class='ellipsis') #{p}

