mixin form(params, action, labels)
    div(class='configBlock')
        form(action=action, method='POST')
            each label, key in labels
                if (key !== 'submit')
                    div(class='configLine')
                        div(class='key') #{label}
                        div(class='value')
                            input(name=key, value=params[key], type=(key.match(/.*password.*/i) ? 'password' : 'text'))
            input(type='submit', value=labels['submit'] || 'Submit')